    <section class="with-topnav" id="myTopnav">
        <img src="/upload/logo.png" class="logo-mobile" style="" alt="logo">
        <div class="mobile-menu-toggle" onclick="mobileMenuToggle(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <div>
            <img src="/upload/logo.png" class="logo-full" alt="logo">
        </div>
        <div style="padding: 0em 1em;" class="navbar">
            <a href="/" class="{% if page.url === '/' %}activea{% endif %}">Strona główna</a>
            <a href="/o-mnie" class="{% if page.url === '/o-mnie/' %}activea{% endif %}">O mnie</a>
            <a href="/oferta" class="{% if page.url === '/oferta/' %}activea{% endif %}">Oferta</a>
            <a href="/wasze-historie" class="{% if page.url === '/wasze-historie/' %}activea{% endif %}">Wasze historie</a>
            <a href="/kontakt" class="{% if page.url === '/kontakt/' %}activea{% endif %}">Kontakt</a>
        </div>
    </section>
    <script>
    function mobileMenuToggle(x) {
        x.classList.toggle("change");
        var x = document.getElementById("myTopnav");
        if (x.className === "with-topnav") {
            x.className += " responsive";
        }
        else {
            x.className = "with-topnav";
        }
    }
</script>