    <section class="with-topnav" id="myTopnav">
        <img src="upload/logo.png" class="logo-mobile" style="" alt="logo">
        <div class="mobile-menu-toggle" onclick="mobileMenuToggle(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <div>
            <img src="upload/logo.png" class="logo-full" alt="logo">
        </div>
        <div style="padding: 0em 1em;">
            <a href="./o-mnie.html">O mnie</a>
            <a href="./oferta.html">Oferta</a>
            <a href="./wasze-historie.html">Wasze historie</a>
            <a href="./kontakt.html">Kontakt</a>
        </div>
    </section>