---
title: Olimpa fotografie
layout: 'base.njk'

---

<section class="slideshow">
        <div class="slideshow-container">

            <div class="mySlides fade">
              <div class="numbertext">1 / 3</div>
              <img src="upload/1.jpg" style="width:100%">
            </div>
            
            <div class="mySlides fade">
              <div class="numbertext">2 / 3</div>
              <img src="./upload/1-1.jpg" style="width:100%">
            </div>
            
            <div class="mySlides fade">
              <div class="numbertext">3 / 3</div>
              <img src="./upload/1-11.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
              <div class="numbertext">4 / 4</div>
              <img src="./upload/1-111.jpg" style="width:100%">
            </div>
            
            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>
            
            </div>
            <br>
            
            <div style="text-align:center">
              <span class="dot" onclick="currentSlide(1)"></span> 
              <span class="dot" onclick="currentSlide(2)"></span> 
              <span class="dot" onclick="currentSlide(3)"></span>
              <span class="dot" onclick="currentSlide(3)"></span> 
            </div>
</section>
<section class="col-2 rev">
  <div class="col"><img class="img-chess" src="/upload/o_mnie_gorny_kafelek.jpg"></div>
    <div class="text-chess col">
        <h2>O mnie:</h2>
          <p>Cześć!<br> Nazywam się Olimpia i jestem fotografką z Gdańska. Zajmuję się fotografią ślubną, rodzinną oraz kobiecą. <br>
                Kocham fotografię całym swoim serduszkiem i na sesjach daję z siebie wszystko, aby uwiecznić Wasze piękne momenty. 🤍<br>
                Przez długi czas docierałam się z fotografią i szukałam swojego kierunku, ale zawsze gdzieś w głębi duszy marzyło mi się, żeby fotografować ludzi i ich emocje. I tak oto po długiej, wyboistej drodze jestem. <br>
                Uwielbiam wszystko co vintage, więc przemycam co nieco w obróbce moich zdjęć z takiego klimatu. Jeśli jesteście tu, bo też lubicie ciepły styl z nutką „vintydżu” to dobrze trafiliście. Rozgośćcie się ;) 
          </p>
          <a href="/o-mnie"><button class="cta">Więcej</button></a>
  </div>
</section>
<section class="col-2 rev">
        <div class="col"><img class="img-chess" src="/upload/oferta_reportaz_slubny.jpg"></div>
        <div class="text-chess col">
            <h2>Oferta:</h2>
            <ul>
              <li>Reportaż ślubny</li>
              <li>Sesje kobiece</li>
              <li>Sesje rodzinne</li>
              <li>Sesje narzeczeńskie</li>
              <li>Wieczory Panieńskie, baby shower</li>
            </ul>
            <a href="/oferta" ><button class="cta">Więcej</button></a>
        </div>
</section>
<section class="col-2 rev">
  <div class="col"><img class="img-chess" src="/upload/1-111.jpg"></div>
    <div class="text-chess col">
        <h2>Wasze historie:</h2>
          <p>Lorem ipsum ipsum sit dolor Lorem ipsum ipsum sit dolor Lorem ipsum ipsum sit dolor Lorem ipsum ipsum sit dolor
            Lorem ipsum ipsum sit dolor Lorem ipsum ipsum sit dolor Lorem ipsum ipsum sit dolor Lorem ipsum ipsum sit dolor
            Lorem ipsum ipsum sit dolor Lorem ipsum ipsum sit dolor
          </p>
          <a href="/wasze-historie"><button class="cta">Więcej</button></a>
  </div>
</section>
<section class="col-2" style="justify-content: space-between;">
        <div class="text-chess col mb-3-mobile">
            <form class="form" name="kontakt" netlify>
                <input name="imię" type="text" placeholder="Imię" required></input>
                <input name="email" type="e-mail" placeholder="Twój adres e-mail" required></input>
                <input name="rodzaj" type="text" placeholder="Jaki rodzaj sesji Cię interesuje?" required></input>
                <input name="wiadomość" type="text" placeholder="Wiadomość"></input>
                <p><button type="submit">Wyślij</button></p>
            </form>
        </div>
        <div class="text-chess col">
            <ul style="flex-direction: column;display: flex; list-style: none; font-size: 1em;">
                <h2>Jestem tutaj:</h2>
                <li><a href="https://www.facebook.com/"><img style="padding: 2rem 2rem 2rem 0rem;"
                            src="/upload/logo-fb2.png">Olimpia Zyborowicz</a></li>
                <li><a href="https://www.instagram.com/"><img style="padding: 2rem 2rem 2rem 0rem;"
                            src="/upload/instagram-logo.png">olimpijka.fotografie</a></li>
                <h2>Zadzwoń lub napisz:</h2>
                <li style="display: inline-flex;"><img src="/upload/phone-icon.png"><a style="margin-left: 1rem;"
                        href="tel:+48790881483">790 881 483</a></li>
                <li style="display: inline-flex; margin-top: 1rem;"><img src="/upload/mail-icon.png">
                    <a style="margin-left: 1rem;"
                        href="mailto:olimpia.zyborowicz@gmail.com">olimpia.zyborowicz@gmail.com</a>
                </li>
            </ul>
        </div>
    </section>

    

<script>
    let slideIndex = 1;
    showSlides(slideIndex);
    
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
    }
    setInterval(() => {
    plusSlides(1);
  }, 10000);
    
    </script>
<script>
    function mobileMenuToggle(x) {
        x.classList.toggle("change");
        var x = document.getElementById("myTopnav");
        if (x.className === "with-topnav") {
            x.className += " responsive";
        }
        else {
            x.className = "with-topnav";
        }
    }
</script>
<script>/*
var images = ['./src/upload/1.png', './src/upload/2.webp', './src/upload/3.png', './src/upload/7.png', './src/upload/11.png', './src/upload/13.png', './src/upload/5.png', './src/upload/8.png'];
var index = 1;
var heroSection = document.getElementById('backgroundHero');

function changeBackground() {
heroSection.style.backgroundImage = 'linear-gradient(to right, white , transparent), url(' + images[index] + ')';
index = (index + 1) % images.length;
}

setInterval(changeBackground, 5500);
/*
document.addEventListener('visibilitychange', function() {
if (!document.hidden) {
location.reload();
}
});*/
</script>