---
title: Oferta
layout: 'base.njk'

---
    <section class="slideshow">
        <div class="slideshow-container">

            <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="/upload/Hero01.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="/upload/Hero01.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="/upload/Hero01.jpg" style="width:100%">
            </div>

            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>

        </div>
        <br>

        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    </section>
    <section class="col-2 rev">
        <div class="col"><img class="img-chess" src="/upload/Hero01.jpg"></div>
        <div class="text-chess col">
            <h3>Reportaż ślubny:</h3>
            <p>Uwielbiam śluby i wszystkie ślubne tematy- gdybym mogła wzięłabym ze swoim mężem jeszcze z 10 ślubów, żeby móc przeżyć to jeszcze raz! 
            No cóż…swojego ślubu już nie mogę powtórzyć, ale chętnie uwiecznię Wasz wspaniały Dzień i przeżyję to razem z Wami. W swojej ofercie mam 3 różne pakiety, tak aby każdy dobrał coś odpowiedniego dla siebie. Chętnie prześlę Wam moją pełną ofertę w wiadomości. 
            </p>
        </div>
    </section>
    <section class="col-2 rev">
        <div class="col"><img class="img-chess" src="/upload/Hero01.jpg"></div>
        <div class="text-chess col">
            <h3>Sesje kobiece:</h3>
            <p>Sesje indywidualne, które wykonujemy we wspólnie wybranym miejscu. Może to być plener albo studio. Jestem otwarta na Wasze propozycje, zawsze chętnie coś też podpowiem, tak aby ta sesja była wspaniałą pamiątką i pozwoliła poczuć Wam się wyjątkowo!</p>
        </div>
    </section>
    <section class="col-2 rev">
        <div class="col"><img class="img-chess" src="/upload/Hero01.jpg"></div>
        <div class="text-chess col">
            <h3>Sesje rodzinne, brzuszkowe:</h3>
            <p>Tworzę naturalne i pełne emocji fotografie, które doskonale oddają unikalne więzi i radość wspólnych chwil. Chcę, aby każde zdjęcie opowiadało Waszą historię i było pamiątką na lata. Sesję możemy wykonać w plenerze lub w studio, w zależności od Waszego pomysłu.</p>
        </div>
    </section>
    <section class="col-2 rev">
        <div class="col"><img class="img-chess" src="/upload/Hero01.jpg"></div>
        <div class="text-chess col">
            <h3>Sesje narzeczeńskie:</h3>
            <p>To świetna okazja do stworzenia pięknej pamiątki, którą możecie później wykorzystać np. w dniu Waszego ślubu. Na taką sesję możemy umówić się w Waszym ulubionym miejscu w plenerze lub wynająć studio. Może macie jakieś miejsce, które kojarzy Wam się z Waszym pierwszym spotkaniem i właśnie tam chcielibyście sesję? Why not!</p>
        </div>
    </section>
    <section class="col-2 rev">
        <div class="col"><img class="img-chess" src="/upload/Hero01.jpg"></div>
        <div class="text-chess col">
            <h3>Wieczory Panieńskie, baby shower:</h3>
            <p>Wspaniałe momenty wspólnego świętowania uwiecznione na fotografiach to super pamiątka na całe lata. Zatrzymam dla Was momenty, które będą wywoływały uśmiech na twarzy.</p>
        </div>
    </section>
    <section class="col-2 rev">
        <div class="col"><img class="img-chess" src="/upload/Hero01.jpg"></div>
        <div class="text-chess col">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus justo eget porttitor molestie.
                Cras
                sapien diam, malesuada vitae tempus vel, rutrum eget sapien. Maecenas rutrum at metus sed sagittis.
                Suspendisse
                vel tortor sit amet urna porttitor faucibus. Nulla sit amet purus eu tellus pharetra suscipit quis
                ut urna.
                Mauris ullamcorper purus libero, eget hendrerit urna laoreet eget. Aenean vel faucibus elit, et
                varius
                mauris.
                Integer ac efficitur augue, sit amet mollis lectus. Aenean tincidunt est at nunc aliquet lacinia.</p>
        </div>
    </section>
