---
title: Oferta
layout: 'base.njk'

---
    <section class="slideshow">
        <div class="slideshow-container">

            <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="/upload/2.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="/upload/2-2.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="/upload/2-22.jpg" style="width:100%">
            </div>

            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>

        </div>
        <br>

        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    </section>
    <section class="col-2 rev">
        <div class="col"><img class="img-chess" src="/upload/oferta_reportaz_slubny.jpg"></div>
        <div class="text-chess col">
            <h2>Reportaż ślubny:</h2>
            <p>Uwielbiam śluby i wszystkie ślubne tematy- gdybym mogła wzięłabym ze swoim mężem jeszcze z 10 ślubów, żeby móc przeżyć to jeszcze raz! 
            No cóż…swojego ślubu już nie mogę powtórzyć, ale chętnie uwiecznię Wasz wspaniały Dzień i przeżyję to razem z Wami. W swojej ofercie mam 3 różne pakiety, tak aby każdy dobrał coś odpowiedniego dla siebie. Chętnie prześlę Wam moją pełną ofertę w wiadomości. 
            </p>
        </div>
    </section>
    <section class="col-2 rev">
        <div class="col"><img class="img-chess" src="/upload/oferta-kobiece.jpg"></div>
        <div class="text-chess col">
            <h2>Sesje kobiece:</h2>
            <p>Sesje indywidualne, które wykonujemy we wspólnie wybranym miejscu. Może to być plener albo studio. Jestem otwarta na Wasze propozycje, zawsze chętnie coś też podpowiem, tak aby ta sesja była wspaniałą pamiątką i pozwoliła poczuć Wam się wyjątkowo!</p>
        </div>
    </section>
    <section class="col-2 rev">
        <div class="col"><img class="img-chess" src="/upload/oferta-brzuszkowe _odzinne.jpg"></div>
        <div class="text-chess col">
            <h2>Sesje rodzinne, brzuszkowe:</h2>
            <p>Tworzę naturalne i pełne emocji fotografie, które doskonale oddają unikalne więzi i radość wspólnych chwil. Chcę, aby każde zdjęcie opowiadało Waszą historię i było pamiątką na lata. Sesję możemy wykonać w plenerze lub w studio, w zależności od Waszego pomysłu.</p>
        </div>
    </section>
    <section class="col-2 rev">
        <div class="col"><img class="img-chess" src="/upload/oferta_narzeczenskie.jpg"></div>
        <div class="text-chess col">
            <h2>Sesje narzeczeńskie:</h2>
            <p>To świetna okazja do stworzenia pięknej pamiątki, którą możecie później wykorzystać np. w dniu Waszego ślubu. Na taką sesję możemy umówić się w Waszym ulubionym miejscu w plenerze lub wynająć studio. Może macie jakieś miejsce, które kojarzy Wam się z Waszym pierwszym spotkaniem i właśnie tam chcielibyście sesję? Why not!</p>
        </div>
    </section>
    <section class="col-2 rev">
        <div class="col"><img class="img-chess" src="/upload/oferta_panienskie.jpg"></div>
        <div class="text-chess col">
            <h2>Wieczory Panieńskie, baby shower:</h2>
            <p>Wspaniałe momenty wspólnego świętowania uwiecznione na fotografiach to super pamiątka na całe lata. Zatrzymam dla Was momenty, które będą wywoływały uśmiech na twarzy.</p>
        </div>
    </section>
<script>
    let slideIndex = 1;
    showSlides(slideIndex);
    
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
    }
    setInterval(() => {
    plusSlides(1);
  }, 10000);
    
    </script>