---
title: Oferta
layout: 'base.njk'

---
    <section class="slideshow">
        <div class="slideshow-container">

            <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="/upload/Hero01.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="/upload/Hero01.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="/upload/Hero01.jpg" style="width:100%">
            </div>

            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>

        </div>
        <br>

        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    </section>
    <section class="col-2 rev">
        <div class="col"><img class="img-chess" src="/upload/Hero01.jpg"></div>
        <div class="text-chess col">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus justo eget porttitor molestie.
                Cras
                sapien diam, malesuada vitae tempus vel, rutrum eget sapien. Maecenas rutrum at metus sed sagittis.
                Suspendisse
                vel tortor sit amet urna porttitor faucibus. Nulla sit amet purus eu tellus pharetra suscipit quis
                ut urna.
                Mauris ullamcorper purus libero, eget hendrerit urna laoreet eget. Aenean vel faucibus elit, et
                varius
                mauris.
                Integer ac efficitur augue, sit amet mollis lectus. Aenean tincidunt est at nunc aliquet lacinia.
            </p>
        </div>
    </section>
    <section class="col-2 rev">
        <div class="col"><img class="img-chess" src="/upload/Hero01.jpg"></div>
        <div class="text-chess col">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus justo eget porttitor molestie.
                Cras
                sapien diam, malesuada vitae tempus vel, rutrum eget sapien. Maecenas rutrum at metus sed sagittis.
                Suspendisse
                vel tortor sit amet urna porttitor faucibus. Nulla sit amet purus eu tellus pharetra suscipit quis
                ut urna.
                Mauris ullamcorper purus libero, eget hendrerit urna laoreet eget. Aenean vel faucibus elit, et
                varius
                mauris.
                Integer ac efficitur augue, sit amet mollis lectus. Aenean tincidunt est at nunc aliquet lacinia.</p>
        </div>
    </section>
    <section class="col-2 rev">
        <div class="col"><img class="img-chess" src="/upload/Hero01.jpg"></div>
        <div class="text-chess col">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus justo eget porttitor molestie.
                Cras
                sapien diam, malesuada vitae tempus vel, rutrum eget sapien. Maecenas rutrum at metus sed sagittis.
                Suspendisse
                vel tortor sit amet urna porttitor faucibus. Nulla sit amet purus eu tellus pharetra suscipit quis
                ut urna.
                Mauris ullamcorper purus libero, eget hendrerit urna laoreet eget. Aenean vel faucibus elit, et
                varius
                mauris.
                Integer ac efficitur augue, sit amet mollis lectus. Aenean tincidunt est at nunc aliquet lacinia.</p>
        </div>
    </section>
    <section class="col-2 rev">
        <div class="col"><img class="img-chess" src="/upload/Hero01.jpg"></div>
        <div class="text-chess col">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus justo eget porttitor molestie.
                Cras
                sapien diam, malesuada vitae tempus vel, rutrum eget sapien. Maecenas rutrum at metus sed sagittis.
                Suspendisse
                vel tortor sit amet urna porttitor faucibus. Nulla sit amet purus eu tellus pharetra suscipit quis
                ut urna.
                Mauris ullamcorper purus libero, eget hendrerit urna laoreet eget. Aenean vel faucibus elit, et
                varius
                mauris.
                Integer ac efficitur augue, sit amet mollis lectus. Aenean tincidunt est at nunc aliquet lacinia.</p>
        </div>
    </section>
    <section class="col-2 rev">
        <div class="col"><img class="img-chess" src="/upload/Hero01.jpg"></div>
        <div class="text-chess col">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus justo eget porttitor molestie.
                Cras
                sapien diam, malesuada vitae tempus vel, rutrum eget sapien. Maecenas rutrum at metus sed sagittis.
                Suspendisse
                vel tortor sit amet urna porttitor faucibus. Nulla sit amet purus eu tellus pharetra suscipit quis
                ut urna.
                Mauris ullamcorper purus libero, eget hendrerit urna laoreet eget. Aenean vel faucibus elit, et
                varius
                mauris.
                Integer ac efficitur augue, sit amet mollis lectus. Aenean tincidunt est at nunc aliquet lacinia.</p>
        </div>
    </section>
    <section class="col-2 rev">
        <div class="col"><img class="img-chess" src="/upload/Hero01.jpg"></div>
        <div class="text-chess col">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus justo eget porttitor molestie.
                Cras
                sapien diam, malesuada vitae tempus vel, rutrum eget sapien. Maecenas rutrum at metus sed sagittis.
                Suspendisse
                vel tortor sit amet urna porttitor faucibus. Nulla sit amet purus eu tellus pharetra suscipit quis
                ut urna.
                Mauris ullamcorper purus libero, eget hendrerit urna laoreet eget. Aenean vel faucibus elit, et
                varius
                mauris.
                Integer ac efficitur augue, sit amet mollis lectus. Aenean tincidunt est at nunc aliquet lacinia.</p>
        </div>
    </section>
